<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Start - Webmc</title>
    <meta name="description" content="">
    <meta name="author" content="wzhd">

    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">

  </head>
  <body>
    <% include header.ejs %>
    <%- body %>
  </body>
</html>
